name: Build and Test

on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            pkg: package:linux
          - os: windows-latest
            pkg: package:win
          - os: macos-latest
            pkg: package:mac
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest


      - name: Install dependencies
        run: bun install

      - name: Run unit tests
        run: bun run test

      - name: Run integration tests
        run: bun test tests/integration

      - name: Build
        run: bun run ${{ matrix.pkg }}

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: document-stitcher-${{ matrix.os }}
          path: bin/
